{{set . "title" "Home - haoshuju.net"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text" ng-controller="VersionController">
        <h1>Hao Shu Ju . Net</h1>
        <h2>It works!</h2>

        <p>now: {{.now}}</p>
        <p>server time: [[serverTime]]</p>
        <div>
        version: [[version]]
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
