{{set . "title" "Home - haoshuju.net"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Hao Shu Ju . Net</h1>
        <h2>It works!</h2>

        <p>now: {{.now}}</p>
        <div ng-controller="VersionController">
        version: [[version]]
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<script type="text/javascript">
  var haoshujuApp = angular.module("haoshujuApp", []);
  haoshujuApp.config(["$interpolateProvider", function($interpolateProvider){
    $interpolateProvider.startSymbol("[[");
    $interpolateProvider.endSymbol("]]");
  }]);
  haoshujuApp.controller('VersionController', ['$scope', '$http',
  function VersionController($scope, $http) {
    $http.get('/app/version').success(function(data) {
      $scope.version = data.Data;
    });
  }]);
</script>

{{template "footer.html" .}}
