<!DOCTYPE html>

<html ng-app="haoshujuApp">
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    <script src="/public/bower_components/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/app/app.js"></script>
    <script src="/public/js/app/controllers.js"></script>
    <script src="/public/js/app/filters.js"></script>
    <script src="/public/js/app/services.js"></script>
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
